
.shake{
  animation: shake 1s;
}

  @keyframes shake {
    0% { transform: translate(4px, 4px) rotate(0deg); }
    10% { transform: translate(-4px, -4px) rotate(-1deg); }
    20% { transform: translate(-7px, 0px) rotate(1deg); }
    30% { transform: translate(7px, 4px) rotate(0deg); }
    40% { transform: translate(4px, -4px) rotate(1deg); }
    50% { transform: translate(-4px, 4px) rotate(-1deg); }
    60% { transform: translate(-7px, 4px) rotate(0deg); }
    70% { transform: translate(7px, 4px) rotate(-1deg); }
    80% { transform: translate(-4px, -4px) rotate(1deg); }
    90% { transform: translate(4px, 4px) rotate(0deg); }
    100% { transform: translate(4px, -4px) rotate(-1deg); }
  }

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #25b8f2;
}

.font-60 {
  font-size: 60px;
}

.font-20 {
  font-size: 20px;
}

.container {
  text-align: center;
}

.eight-ball-container {
  display: inline-block;
  width: 285px;
  max-width: 35%;
  text-align: center;
}

.eight-ball-img {
  width: 100%;
}


.answer {
  margin-bottom: 1rem;
}

input {
  border-radius: 10px;
  outline: none;
  margin-bottom: 1rem;
  text-align: center;
}

button {
  cursor: pointer;
  background-color: #f25f25;
  margin-bottom: .5rem;
  padding: .3em .7em;
  border-radius: 10px;
}

button:hover {
  background-color: #585858;
}

.modal {
  display: block;
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  text-align: center;
  background-color: #585858;
}

table {
  border-collapse: collapse;
  width: 100%;
  /* color: white; */
  background-color: white;
  text-align: center;
}

tr {
  border-top: 2px solid #585858;
}

.table-question {
  background-color: #25b8f2;
}

.table-answer {
  background-color: #f25f25;
}

tbody > tr:nth-child(2n) {
  background-color: #25b8f2;
  /* color: white; */
}

.err {
  color: red;
}
